html {
  background-color: #ffcbcb;
  margin: 0px 30px;
}

body {
  background-color: white;
  height: 100%vh;
}

.profile {
  width: 150px;
  height: auto;
  border-radius: 50%;
  text-align: center;
}

.content-image {
  width: 300px;
  height: auto;
}

.container {
  text-align: center;
}

.content {
  display: inline-block;
  text-align: center;
}
